### Data Science Tools and Ecosystem

In this notebook, Data Science Tools and Ecosystem are summarized.

**Objectives:**  
unordered list of popular languages for Data Science  
* Python  
* R  
* SQL

Some of the popular languages that Data Scientists use are:  
Ordered list  
1. Python  
2. R  
3. SQL

Some of the commonly used libraries used by Data Scientists include:  
Ordered list  
1. TensorFlow  
2. Pandas  
3. NumPy

Data Science Tools  
| Tools |  
|:----|  
| Jupyter Notebook |  
| R studio |  
| Github |

### Below are a few examples of evaluating arithmetic expressions in Python

In [2]:
(3*4)+5

#This a simple arithmetic expression to mutiply then add integers

17

In [3]:
200/60

#This will convert 200 minutes to hours by diving by 60

3.3333333333333335

## Author  
Lee Yunjee